<%= stylesheet_link_tag "navigation" %>
<div id="navigation-wrapper" class="container">
  <div id="nav-left-wrapper" class="container">
    <h1 id="nav-logo">LOGO HERE</h1>
  </div>
  <div id="nav-middle-wrapper" class="container">
    <h1 id="nav-title">TITLE HERE</h1>
  </div>
  <div id="nav-right-wrapper" class="container">
    <h1 id="nav-menu">MENU HERE</h1>
  </div>
</div>
