<!-- Body -->
<div id="body-wrapper" class="stacked-container">
  <h1 class="large-text">BlaineAndersonDev.com</h1>
  <div class="small-text">
    <p class="text">Howdy! I'm Blaine Anderson, A Software Engineer & Web Developer based out of Mesa, Arizona. You can usually find me on a plethora of projects or working remotely for clients all over the world. </p>
  </div>
  <div class="small-text">
    <p class="text">I have a diversified set of skill including:</p>
    <p class="text">Front-End [ HTML | CSS | Javascript | ReactJS | +More]</p>
    <p class="text">Back-End [ Ruby | Rails | Node | SQL/PG | +More]</p>
    <p class="text">and I am eager to learn more!</p>
  </div>
</div>
