<!-- Body -->
<div id="body-wrapper" class="stacked-container">
  <h1 class="large-text">Blaine Anderson</h1>
  <h3 class="med-text">Software Engineer | Web Developer</h3>
  <div class="small-text">
    <p class="text">Hey There! I'm Blaine Anderson, A Software Engineer & Web Developer based out of Mesa, Arizona. You can usually find me on a plethora of projects or working remotely for clients all over the world. </p>
  </div>
</div>
