<div id="handbook-wrapper" class="AJAX-close-wrapper">
  <div class="handbook-intro">
    <h1>Coder's Handbook & Guides</h1>
    <h3>Time to time I find I need or would enjoy a guide to help me figure somthing out, usually something simple.
    It seems like creating a simple codex of common use lines of code, tips and tricks would be something you can find anywhere...
    No. No, finding it is the hard part. Most times the information I'm looking for is buried in a pile of filler for an article, or some small unimportant part is debated on stackoverflow, overshadowing the actual like of code needed for a project.</h3>
    <h3>Listed below are links to my own personal guides, filled with simple code blocks and minor notes including only pertinant information for the coder looking at it. I add to these guides as required, and have more in the works that are not listed here yet (not done enough).</h3>
    <h3>I hope that whoever finds this can use my guides to further their projects or resolve their errors.</h3>
  </div>
  <h1>Coders Handbook</h1>
  <h1>Rails Guide</h1>
  <h1>ReactJS Guide</h1>
</div>
