<!-- Image -->
<div id="image-wrapper" class="container">
<!-- <%= image_tag("Blaine_Profile_01.jpg", class: "portfolio-image") %> -->
<%= image_tag("Blaine_Profile_02.jpg", class: "portfolio-image") %>
</div>
