<!-- Navigation Bar -->
<div id="navigation-wrapper" class="nav-container">
  <h1 class="nav-text nav-item">Home</h1>
  <h1 class="nav-text nav-item">Projects</h1>
  <h1 class="nav-text nav-item">Skills</h1>
</div>
