<!-- Navigation Bar -->
<div id="navigation-wrapper" class="nav-container">
  <h1 class="nav-text nav-item">Home</h1>
  <%= link_to 'Projects', projects_path, remote: true  %>
  <h1 class="nav-text nav-item">Skills</h1>
</div>
