<!-- Navigation Bar -->
<div id="navigation-wrapper" class="nav-container">
  <%= link_to 'Home', about_path, remote: true, class: 'nav-link'  %>
  <%= link_to 'Projects', projects_path, remote: true, class: 'nav-link'  %>
  <%= link_to 'Skills', skills_path, remote: true, class: 'nav-link'  %>
  <%= link_to 'Coders Handbook', coders_handbook_path, remote: true, class: 'nav-link'  %>
</div>
