<div id="skills-wrapper" class="container AJAX-close-wrapper">
  <div class="partial-border stacked-container">
    <h1>This is a test</h1>
    <h1>This is a test</h1>
    <h1>This is a test</h1>
    <h1>This is a test</h1>
    <h1>This is a test</h1>
    <h1>This is a test</h1>
    <%= link_to 'Close Skills', close_path, remote: true  %>
  </div>
</div>
