<div id="skills-wrapper" class="stacked-container AJAX-close-wrapper">
  <h1 class="skill-title">My Skill Set</h1>
  <div class="skill-divider"></div>
  <div class="skill-container">
    <div class="skill-column">
      <h1 class="skill-item">Ruby</h1>
      <h1 class="skill-item">Ruby on Rails</h1>
      <h1 class="skill-item">RSpec</h1>
      <h1 class="skill-item">SimpleCov</h1>
      <h1 class="skill-item">CircleCI</h1>
      <h1 class="skill-item">Active Record</h1>
      <h1 class="skill-item">JQuery</h1>
      <h1 class="skill-item">AJAX</h1>
    </div>
    <div class="skill-column">
      <h1 class="skill-item">Javascript</h1>
      <h1 class="skill-item">ReactJS</h1>
      <h1 class="skill-item">React Routes</h1>
      <h1 class="skill-item">Jest</h1>
      <h1 class="skill-item">Enzyme</h1>
      <h1 class="skill-item">Node</h1>
      <h1 class="skill-item">Jasmine</h1>
      <h1 class="skill-item">Agile Workflow</h1>
    </div>
    <div class="skill-column">
      <h1 class="skill-item">HTML</h1>
      <h1 class="skill-item">CSS3</h1>
      <h1 class="skill-item">SQLite3</h1>
      <h1 class="skill-item">PostgreSQL</h1>
      <h1 class="skill-item">Sinatra</h1>
      <h1 class="skill-item">Stripe API</h1>
      <h1 class="skill-item">Google API</h1>
      <h1 class="skill-item">Team Management</h1>
    </div>
  </div>
  <div class="skill-divider"></div>
  <h1 class="skill-description">I am always seeking out additional knowledge,</h1>
  <h1 class="skill-description">so expect this list to expand over time!</h1>
</div>
