<div id="portfolio-wrapper">

  <div id="AJAX-wrapper">
  </div>

    <!-- Navigation Bar -->
    <%= render 'nav' %>

    <!-- Body -->
    <%= render 'body' %>

    <!-- Image -->
    <%= render 'image' %>

    <!-- Social Media -->
    <%= render 'social' %>

</div>
