*{
  margin: 0;
  padding: 0;
}
html, body {
  height:100%;
  width:100%;
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Playfair Display', serif;
  /* font-family: 'Merriweather', serif; */
}
#portfolio-wrapper{
  min-height: 100%;
  min-width: 100%;
  /* background-image: url('portfolio_background_01.jpg'); */
  /* background-image: url('portfolio_background_02.png'); */
  background-image: url('portfolio_background_03.jpg');
  /* background-image: url('portfolio_background_04.png'); */
  background-size: cover;
}
.AJAX-close-wrapper{
  padding-top: 60px;
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  flex-wrap: nowrap;
  width: 100%
}
.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  border: yellow 3px solid;
}
@media (min-width: 600px) {
  border: green 3px solid;
 }
@media (min-width: 1000px) {
  border: blue 3px solid;
 }
@media (min-width: 1500px) {
  border: red 3px solid;
 }
.stacked-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%
}
.scrunched-container{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%
}

.text{
  color: white;
  font-size: 1.1em;
  text-shadow: 1px 1px gray;
}
.large-text{
  color: white;
  font-size: 4em;
  text-shadow: 3px 3px black;
}
.med-text{
  color: white;
  font-size: 2em;
  margin: 10px;
}
.small-text{
  color: white;
  font-size: 1.1em;
  margin: 10px;
}

  #navigation-wrapper{
    background-color: rgba(187, 180, 180, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    font-size: 1.4em;
    text-decoration: none;
    text-shadow: 1px 1px gray;
    transition: color 0.5s;
  }
  .nav-link:hover{
    color: lightblue;
  }

  #body-wrapper{
    width: 60%;
    margin: 0 auto;
  }

/* Image */
#image-wrapper{

}
  .portfolio-image{
    border: 1px black solid;
    border-radius: 25%;
    margin-top: 10px;
    max-width: 225px;
    min-width: 225px;
    max-height: 225px;
    min-height: 225px;
}

/* Social Media */
#social-wrapper{
  width: 60%;
  margin: 0 auto;

}
  .social-link{
    margin-right: 10px;
    margin-left: 10px;
  }
  .social-image{
    max-width: 55px;
    min-width: 55px;
    max-height: 55px;
    min-height: 55px;
  }
    .social-image:hover{
      animation: shine 1.5s ease-in-out;
    }
  .social-text{
    border: 1px black solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: inset 0 0 10px #000000;
    opacity: 0.5;
    border-radius: 20%;
    transition: opacity 1s ease;
  }
  .social-text:hover{
    opacity: 1;
  }

@keyframes shine {
  0% {
    filter:brightness(100%);
  }
  20% {
    filter:brightness(300%);
  }
  100% {
    filter:brightness(100%);
  }
}

  .social-container{
    min-width: 45%;
    max-width: 45%;
  }

/* Projects Partial */
#projects-wrapper{
  min-width: 55%;
  max-width: 55%;
  color: white;
}
.project-item{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  text-align: center;
  flex-wrap: nowrap;
  width: 100%
}
.project-item-left{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  padding-right: 15px;
}
  .project-image{
    border: 1px black solid;
    border-radius: 25%;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
  }
  .project-image:hover{
    animation: shine2 1.5s ease-in-out;
  }

  @keyframes shine2 {
    0% {
      filter:contrast(100%);
    }
    20% {
      filter:contrast(300%);
    }
    100% {
      filter:contrast(100%);
    }
  }

.project-item-right{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  flex-direction: column;
}
  .project-name{
    color: white;
    font-size: 2em;
    text-decoration: none;
    text-shadow: 1px 1px gray;
    transition: color 0.5s;
  }
  .project-name:hover{
    color: lightblue;
  }
  .project-name-nohover{
    color: white;
    font-size: 2em;
    text-decoration: none;
    text-shadow: 1px 1px gray;
    transition: color 0.5s;
  }
  .project-github{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    text-shadow: 1px 1px gray;
    transition: color 0.5s;
  }
  .project-github:hover{
    color: lightblue;
  }
  .project-about{

  }
  .project-tech{
    font-size: 0.8em;
  }
  .project-divider{
    margin: 0 auto;
    border-bottom: 1px solid white;
    margin-bottom: 6px;
    width: 75%;
  }

/* Skills Partial */
#skills-wrapper{
}
  .skill-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 45%
  }
    .skill-column{
      display: flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      text-align: center;
      flex-wrap: wrap;
      flex-direction: column;
      width: 32%
    }
    .skill-title{
      color: white;
      font-size: 3em;
      margin: 6px;
      text-shadow: 1px 1px gray;
    }
    .skill-item{
      color: white;
      font-size: 1.5em;
      margin: 10px;
      text-shadow: 1px 1px gray;
    }
    .skill-description{
      color: white;
      font-size: 1.2em;
      margin: 6px;
      text-shadow: 1px 1px gray;
    }
    .skill-divider{
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 26px;
      width: 50%;
      background-image: url('border.svg');
    }

/* Handbook */
.handbook-wrapper{

}
  .handbook-intro{
    color: white;
    width: 65%;
    margin: 0 auto;
  }
    .handbook-title{
      font-size: 4em;
      margin-bottom: 30px;
    }
    .handbook-text{
      font-size: 1.3em;
      margin-bottom: 15px;
    }
  .handbook-link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
  }
    .handbook-link{
      color: white;
      text-decoration: none;
      padding: 5px;
      margin: 10px;
      font-size: 2em;
      color: white;
      border: 1px white solid;
      background-color: none;
      box-shadow: 0 0 0 transparent inset;
      transition:
        color 0.5s ease,
        box-shadow 0.5s ease,
        background-color 0.5s ease;
    }.handbook-link:hover{
      color: lightblue;
      background-color: black;
      box-shadow: 0 0 40px lightblue inset;
    }
