*{
  margin: 0;
  padding: 0;
}
html, body {
  height:100%;
  width:100%;
  font-family: 'Merriweather', serif;
}
#portfolio-wrapper{
  min-height: 100%;
  min-width: 100%;
  /* background-image: url('portfolio_background_01.jpg'); */
  /* background-image: url('portfolio_background_02.png'); */
  background-image: url('portfolio_background_03.jpg');
  /* background-image: url('portfolio_background_04.png'); */
  background-size: cover;
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  flex-wrap: nowrap;
  width: 100%
}
.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  flex-wrap: nowrap;
  width: 100%
}

.stacked-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%
}
.scrunched-container{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%
}

.text{
  color: white;
  font-size: 1.1em;
}
.large-text{
  color: white;
  font-size: 4em;
}
.small-text{
  color: white;
  font-size: 1.1em;
  margin: 10px;
}
.nav-text{
  color: white;
  font-size: 1.4em;
}

  #navigation-wrapper{
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-item{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
    margin-left: 10px;
  }

  #body-wrapper{
    width: 60%;
    margin: 0 auto;
  }

/* Image */
#image-wrapper{

}
  .portfolio-image{
    border: 1px black solid;
    border-radius: 25%;
    margin-top: 10px;
    max-width: 225px;
    min-width: 225px;
    max-height: 225px;
    min-height: 225px;
}

/* Social Media */
#social-wrapper{
  width: 60%;
  margin: 0 auto;

}
  .social-link{
    margin-right: 10px;
    margin-left: 10px;
  }
  .social-image{
    max-width: 55px;
    min-width: 55px;
    max-height: 55px;
    min-height: 55px;
  }
    .social-image:hover{
      animation: shine 1.5s ease-in-out;
    }
  .social-text{
    border: 1px black solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: inset 0 0 10px #000000;
    opacity: 0.5;
    border-radius: 20%;
    transition: opacity 1s ease;
  }
  .social-text:hover{
    opacity: 1;
  }

@keyframes shine {
  0% {
    filter:brightness(100%);
  }
  20% {
    filter:brightness(300%);
  }
  100% {
    filter:brightness(100%);
  }
}

  .social-container{
    min-width: 45%;
    max-width: 45%;
  }


/* Projects Partial */
#projects-wrapper{
  min-width: 45%;
  max-width: 45%;
  background-color: red;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
